DATABASE_URL=sqlite:///./catalog.db
UPLOAD_DIR=assets/uploads
CORS_ORIGINS=http://localhost:5174,http://127.0.0.1:5174
COMPANY_NAME=ULINK LLC
COMPANY_WEBSITE=www.ulinkllc.com
COMPANY_EMAIL=info@ulinkllc.com
COMPANY_PHONE=+1 (314) 452-7023
BRAND_COLOR=#15509B
